<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Adicionar Evento</title>
</head>
<body>
    <div th:replace="~{menu :: menu}"></div>

    <div class="container">
        <h1>Adicionar Evento</h1>
        
        <form th:action="@{/eventos}" method="post" th:object="${evento}">
            <div>
                <input type="hidden" th:field="*{id}" readonly="readonly">
            </div>

            <div>
                <label>Nome: </label>
                <input type="text" th:field="*{nome}">
                <p th:errors="*{nome}" style="color:red;"></p>
            </div>

            <div>
                <label>Local: </label>
                <input type="text" th:field="*{local}">
                <p th:errors="*{local}" style="color:red;"></p>
            </div>

            <div>
                <label>Data: </label>
                <input type="date" th:field="*{data}">
                <p th:errors="*{data}" style="color:red;"></p>
            </div>

            <div>
                <label>Horário: </label>
                <input type="time" th:field="*{horario}">
                <p th:errors="*{horario}" style="color:red;"></p>
            </div>

            <div>
                <button class="waves-effect waves-light btn" type="submit">Salvar</button>
                <button class="waves-effect waves-light btn" type="reset">Limpar</button>
            </div>
        </form>
    </div>
</body>
</html>
